body {
    font-family: Arial, sans-serif;
    background-color: lightgreen; /* Set the background color to light green */
}

h1 {
    color: green; /* Set the header color to dark green */
}

h2 {
    color: rgb(3, 78, 3); /* Set the header color to dark green */
}

.button-container {
    margin: 20px 0;
    text-align: left;
}

.button-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.button-container button:hover {
    background-color: #45a049;
}

.line {
    fill: none;
    stroke: slategray; /* Added missing semicolon */
    stroke-width: 0.5;
}
